// === GENERAL === //
// colors
$cc_background: #f1f1f1;

//$cc_primary-color: #ffe96f;
$cc_primary-color: #ffe980;
$cc_primary-hover-color: #d0e09f;

//$cc_secondary-color: #32414f;
$cc_secondary-color: #a95647;
$cc_secondary-hover-color: #79514a;

$cc_account-color: #468080;

// dimensions
$cc_menu-width: 220px;

// === BREADCRUMB === //
$cc_breadcrumb-color: #ffffff;

// === NAVBAR === //
$cc_navbar-text-color: #f4ffef;

// === SIDEBAR === //
$cc_sidemenu-title-color: #fff;

// === MAIN === //

// === FOOTER === //

// === FORMS === //
$cc_input-border-color: #fff;

