/** Breadcrumb
|=================================================================
| => General
*/

// => GENERAL
//==========================================================
.app_breadcrumb{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  height: 50px;
  padding: 15px;
  background-color: $cc_breadcrumb-color;
}