/** FOOTER
|=================================================================
| => General
*/

// => GENERAL
//==========================================================
.app_footer{
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: $cc_menu-width;
  padding: 15px;
  background-color: #ffffff;
  color: #32414f;
}